*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

.mainBanner{
  width: 100%;
  height: 280px;
  background-image: url('./img/banner.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.text{
  font-size: 42px;
  font-weight: 700;
  color: #FFF;
  text-shadow: 2px 2px 5px rgba(0, 0, 0 , .3);
  animation: titleText 1s ease-in-out;
}

@keyframes titleText {
  0%{
    transform: translateY(70px);
    opacity: 0;
  }
  92%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.wrapper{
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
}

.sideMenu {
  width: 170px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.navMenu{
  background-color: orange;
  padding: 20px;
  margin: 0 0 10px 0;
  border-radius: 10px;
}
.navMenu li {
  list-style: none;
  font-size: 16px;
  padding: 10px 0;
  display: flex;
}
.navMenu li a{
  display: flex;
  color: #FFF;
  transform: translateX(0px);
}
.navMenu li a:blank{
  color: #FFF;
}

.btn{
  height: 40px;
  background-color: #000;
  color: #FFF;
  border: 1px solid #000;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}
.btn:after{
  content:">";
  padding-left: 10px;
}

.itemWrap{
  width: calc(100% - 170px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.item{
  width: calc(25% - 7px);
  aspect-ratio: 6 / 5;
  /* height: 320px; */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}
.imgBox{
  width: 100%;
  height: 100%;
}
.imgBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBox{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  padding: 10px;
  z-index: 3;
}

.textBox p {
  color: #FFF;
  margin: 5px 0 0;
}
.textBox__name{
  font-size: 22px;
  font-weight: 500;
  opacity: 0;
}
.textBox__price{
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
}

.item:after{
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}


@media screen and (max-width: 767px) {
  /* mobile */
  .mainBanner{
    height: 160px;
    margin-bottom: 0;
  }
  .mainBanner .text{
    font-size: 26px;
  }
  .wrapper{
    flex-direction: column;
    padding: 0;
  }
  .sideMenu{
    width: 100%;
    padding: 0;
  }
  .navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
    padding: 0;
  }
  .navMenu li a{
    font-size: 14px;
    padding: 12px 10px;
  }
  .btn{
    display: none;
  }
  .itemWrap{
    width: 100%;
    padding: 12px;
  }
  .item{
    width: calc(50% - 7px);
    border-radius: 0;
    overflow: visible;
    border: 1px solid #DDD;
  }
  .textBox{
    position: relative;
    width: 100%;
    height: auto;
  }
  .textBox p {
    color: #000;
  }
  .textBox__name{
    font-size: 18px;
    opacity: 1;
  }
  .textBox__price{
    font-size: 12px;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* tablet */
  .item{
    border-radius: 0;
    overflow: visible;
    border: 1px solid #DDD;
  }
  .textBox{
    position: relative;
    width: 100%;
    height: auto;
  }
  .textBox p {
    color: #000;
  }
  .textBox__name{
    font-size: 18px;
    opacity: 1;
  }
  .textBox__price{
    font-size: 12px;
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .navMenu li:hover{
    padding: 10px 0;
    background-color: rgba(255, 145, 0);
    border-radius: 20px;
  }
  .navMenu li:hover a{
    transform: translateX(12px);
    transition: transform 0.3s ease-in-out;
  }
  .btn:hover{
    background-color: #FFF;
    color: #000;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }
  .btn:hover:after{
    content:">";
    transform: translateX(40px);
    transition: all 0.3s ease-in-out;
  }
  .item:hover:after{
    opacity: 1;
  }
  .item:hover .imgBox img {
    transform: scale(1.1);
    filter: blur(3px);
  }
  .item:hover .textBox__name {
    opacity: 1;
    transform: translateY(-30px);
    transition: transform ease-in-out 0.2s;
  }
  .item:hover .textBox__price {
    opacity: 1;
    transform: translateY(-30px);
    transition: transform ease-in-out 0.4s;
  }
  
  .item:after,
  .item .imgBox img{
    transition: all 0.4s ease-in-out;
  }
  
}